
<div class="col-md-4 presentationtxt">

	<h3>{{ data.event.title }}</h3>

    {% if data.event.typelabel is not empty %}
    	(een <strong>{{ data.event.typelabel }}</strong>)<br />
    {% endif %}

    {{ data.event.start }}<br />

    {% if data.actors is not empty %}
        <h4>Betrokken:</h4>
        {% for actor in data.actors %}
        	<strong><a href="{{ actor.wikipedia }}">{{ actor.label }}</a></strong><br /> 
        	{{ actor.description }}<br />
    	{% endfor %}
    {% endif %}

    <button class="btn btn-default" onclick="showPresentation({{ data.event.id }})">bekijk presentatie</button>

</div>
<div class="col-md-8">
	
	<div class="turtle">
		<pre>{{ data.turtle }}</pre>
	</div>

</div>








