
<div class="col-md-4 presentationtxt">

	    
    {% if data.event.wdid_wiki is not empty %}
        <h3><a href="{{ data.event.wdid_wiki }}">{{ data.event.title }}</a></h3>
    {% else %}
        <h3>{{ data.event.title }}</h3>
    {% endif %}

    

    {% if data.event.typelabel is not empty %}
        <strong>{{ data.event.typelabel }}</strong><br />
    {% endif %}

    {% if data.event.wdid_broader_wiki is not empty %}
        onderdeel van:<br />
        <strong><a href="{{ data.event.wdid_broader_wiki }}">{{ data.event.wdid_broader_label }}</a></strong><br />
    {% endif %}

    {% if data.event.wdbwk is not empty %}
        <strong>{{ data.event.wdbwk }}</strong><br />
    {% endif %}

    {{ data.event.time }}<br />

    {% if data.actors is not empty %}
        <h4>Betrokken:</h4>
        {% for actor in data.actors %}
        	<strong><a href="{{ actor.wikipedia }}">{{ actor.label }}</a></strong><br /> 
        	{{ actor.description }}<br />
    	{% endfor %}
    {% endif %}

    <button class="btn btn-default" onclick="showData({{ data.event.id }})">bekijk data</button>

</div>
<div class="col-md-4 presentationimg">
	
	{% for chobject in data.chobjects %}
    	<a href="{{ chobject.cho }}" target="_blank"><img src="{{ chobject.img }}" /></a>
	{% endfor %}

</div>
<div class="col-md-4 presentationplace">
	
	{% if data.location.lat is not empty %}
        <div class="map" id="mapid{{ data.event.id }}"></div>
        <script>
            if (typeof mymap !== 'undefined') {
                mymap.off();
                mymap.remove();
            }
            mymap = L.map('mapid{{ data.event.id }}').setView([ {{ data.location.lat }} , {{ data.location.lon }} ], {{ data.location.zoom }});

            L.tileLayer('//{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                maxZoom: 19
            }).addTo(mymap);

            var circle = L.circleMarker([{{ data.location.lat }} , {{ data.location.lon }}], {
                fillColor: '#f03',
                fillOpacity: 0.5,
                opacity: 0,
                radius: 15
            }).addTo(mymap);

        </script>
    {% endif %}
    <h3>{{ data.location.label }}</h3>
    <h4>{{ data.location.municipalitylabel }}, {{ data.location.provincelabel }}</h4>

    
    
</div>








