{% extends 'layout.twig' %}

{% block search %}

	<form action="/timeline/" method="get">
		<select class="form-control" name="eventtype">
			<option value="">-- type --</option>
			{% for type in data.eventtypes %}
				<option {% if type.wdid == data.filter.eventtype %}selected="selected"{% endif %} value="{{ type.wdid }}">{{ type.label }}</option>
			{% endfor %}
		</select>
		<select class="form-control" name="province">
			<option value="">-- provincie --</option>
			{% for prov in data.provinces %}
				<option {% if prov.province == data.filter.province %}selected="selected"{% endif %} value="{{ prov.province }}">{{ prov.provincelabel }}</option>
			{% endfor %}
		</select>
		<input class="btn btn-default" type="submit" value="go"> 
		<a href="/timeline/" class="btn btn-default">clear</a>
	</form>

{% endblock %}



{% block content %}
	{% for event in data.events %}
		<div id="event{{ event.id }}" class="eventholder">
		    <div class="row listitem">
		        <div class="col-md-4 when">

		            {{ event.time }}
		            

		        </div>
		        <div class="col-md-8">
		        	<a id="notevent{{ event.id }}">{{ event.title }}</a>
		            

		        </div>
		    </div>
		    <div class="row eventpresentation">

		    </div>
		    <div class="row eventdata">

		    </div>
		</div>
	    
	{% endfor %}
{% endblock %}

{% block javascript %}
	<script language="javascript">

		$( document ).ready(function() {
		    
		    $(".listitem a").click(function(event){

				presentationdiv = $(this).parents('.listitem').nextAll('.eventpresentation:first');
				eventid = $(this).parents('.eventholder').attr('id');
				eventid = eventid.replace("event","");

				if(presentationdiv.is(":visible")){
					presentationdiv.hide();
				}else{
					presentationdiv.load("{{ base_url() }}/parts/presentation/" + eventid);

			    	$(".eventpresentation").hide();
					$(".eventdata").hide();

			    	presentationdiv.fadeIn(800);
			    }
		    });
		});

		function showData(eventid){
			$(".eventpresentation").hide();
			div = $('#event' + eventid + ' .eventdata');
			div.empty();
			div.load("{{ base_url() }}/parts/data/" + eventid);
			div.fadeIn(800);
		}

		function showPresentation(eventid){
			$(".eventdata").hide();
			div = $('#event' + eventid + ' .eventpresentation');
			div.empty();
			div.load("{{ base_url() }}/parts/presentation/" + eventid);
			div.fadeIn(800);
		}

	</script>
{% endblock %}










